<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">
			<!-- <h2 class="f2 b lh-title mb1 primary tc">FOSS4G Tokai</h2> -->
		</div>

		<div class="flex-ns justify-between mb4">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Contents</h3>
				<ul class="mb3">
					<li><a href="https://foss4g-tokai.github.io/code-of-conduct/" class="link" target="_blank">行動規範（CODE
							OF CONDUCT）</a></li>
					<!-- <li><a href="/#timetable" class="link" style="text-decoration: line-through">TBD タイムテーブル</a></li>
					<li><a href="/#speakers" class="link" style="text-decoration: line-through">TBD スピーカー/セッション</a></li>
					<li><a href="/#stuff" class="link" style="text-decoration: line-through">TBD 運営スタッフ</a></li> -->
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">History</h3>
				<ul class="mb3">
					<li><a href="https://foss4g-tokai.github.io/2021/" class="link" target="_blank">FOSS4GTokai 2021
							Spark at Home</a></li>
					<li><a href="https://foss4g-tokai.github.io/2019/" class="link" target="_blank">FOSS4GTokai 2019
							Insite</a></li>
					<li><a href="https://foss4g-tokai.github.io/2018/" class="link" target="_blank">FOSS4GTokai 2018
							Visualize</a></li>
					<li><a href="https://foss4g-tokai.github.io/2017/" class="link" target="_blank">FOSS4GTokai 2017
							Start</a></li>

				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">SNS</h3>
				<ul class="mhn2">
					<li><a href="https://www.youtube.com/c/foss4gtokai" class="link" target="_blank">YouTubeチャンネル</a>
					</li>
					<li><a href="https://twitter.com/FOSS4GTokai" class="link" target="_blank">Twitter</a></li>
					<li><a href="https://www.facebook.com/FOSS4GTokai/" class="link" target="_blank">Facebook</a></li>
				</ul>
			</div>
		</div>

		<div class="measure-wide center mb4">
			<p class="f6 tc">FOSS4G TOKAIの活動にご賛同頂けるスポンサーを募集しています．<br>お問い合わせはFacebookまたはTwitterまで．</p>
		</div>

		<div class="measure-wide center mb2">
			<p class="f6 tc">© Copyright FOSS4G Tokai - All Rights Reserved</p>
		</div>


	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>