<div class="pv5 pv5-l ph3 bg-center bg-black cover" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary">
        <h1 class="f2 b di lh-title mb1 white mw6 linestyle popfont">
          <img src="img/foss4gtokai2022_tb2.png">
        </h1>
      </div>
      <div class="tc">
        <p class="btn w-100 w-auto-ns raise"><a target="_blank" href="https://foss4g-tokai2022-handson.peatix.com/"
            style="text-decoration:none">8/10(水) ハンズオン申込終了</a></p>

        <p class="btn w-100 w-auto-ns raise"><a target="_blank" href="https://foss4g-tokai2022-session.peatix.com/"
            style="text-decoration:none">8/11(祝) セッション受付中(オンラインのみ)</a></p>

        <p class="btn w-100 w-auto-ns raise"><a target="_blank" href="https://foss4gtokai2022mushi.peatix.com/"
            style="text-decoration:none">8/11(祝) 子供向けワークショップ申込終了</a></p>

        <p class="btn w-100 w-auto-ns raise"><a target="_blank"
            href="https://docs.google.com/forms/d/e/1FAIpQLScJQINFiqtoAvfsyEtptVaG6ZNei44W3TD9gqYBQy4IkEm0ow/viewform"
            style="text-decoration:none">8/11(祝) LT募集中</a></p>


      </div>

    </div>
  </div>
</div>