<div class="bg-grey-1 pv4">
	<div class="ph3 mw7 center">

		<div class="flex-l mhn2-l">
			<div class="w-40-l ph2-l">
				<h2 class="f2 b lh-title mb2">Sponsor</h2>
			</div>
    </div>


		<div class="w-60-l ph2-l mw6" style="display: inline;">
		  <a href="http://www.msk-web.co.jp/"><img src="img/msk-logo-538x68.png" height="45px" alt="株式会社エムエスケー" style="vertical-align: middle;"></a>
      <a href="https://www.orbitalnet.jp/"><img src="img/orbitalnet-logo-350x75.png" height="60px" alt="株式会社オービタルネット" style="vertical-align: middle;"></a>
		</div>

	</div>
</div>
