<div class="off-white pv4 ph3" style="background-color:#d76363">

	<div class="mw7 center">

		<h2 class="f2 b lh-title mb3">{{.heading}}</h2>
		<p class="mw6">{{.description}}</p>

		<style>
			.table td {
				padding: 1rem 0.5rem;
			}
			.table tr {
			    border-color: #e0e0e0;
			    border-style: solid;
			    border-bottom-width: 1px;
			}
		</style>

		<div class="flex-ns mhn2-ns mw7">
			<table class="table table-hover" id="timetable">
            	<thead>
                	<tr>
                        <th></th>
                        <th scope="col">予定</th>
						<th></th>
                        <th scope="col">詳細情報</th>
                    </tr>
                </thead>
                <tbody>
					<tr></tr>
					{{ range .sessions }}
					<tr>
						<td>{{.time}}</td>
						<td class="" >
							<p class="b spacing-small">{{.title | safeHTML}}</p>

							{{if .content}}
							<p class="">{{.content | safeHTML}}</p>
							{{end}}	
						</td>
						<td style="vertical-align: top;">
							{{if .icon}}
							<img style="width:6em; min-width: 50px;" src="{{.icon}}">
							{{end}}										
						</td>
						<td>
							<p class="spacing-small">{{.detail | safeHTML}}</p>
														
							{{if .profile}}
							<p class="">{{.profile | safeHTML}}</p>
							{{end}}			
						</td>
					</tr>
					{{ end }}
				</tbody>
			
            </table>

		</div>

	</div>

</div>
